.trekkingDetails {
  .trekkingDetails_box {
    h1 {
      font-size: 28px;
      padding: 30px 0px;
    }
  }
}
.trekkingDetailPage {
  max-width: 1200px;
  margin: auto;
}
.details_flexing {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  padding: 50px;
  background-color: #f3f7fa;
  border-radius: 5px;
  p {
    color: #4b4c4d;
    padding-top: 4px;
  }
}
.star {
  color: #ffc107;
}
.comment_box {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.aboutTrekkings {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .aboutTrekking_box {
    max-width: 850px;
    p {
      padding-top: 20px;
      color: #4b4c4d;
      font-size: 18px;
    }
  }

  h1 {
    font-size: 25px;
  }
  .reservation_box {
    background-color: #f3f7fa;
    border-radius: 10px;
    padding: 30px;
    .reservation_form {
      padding: 20px;
      background-color: #1dc5ce;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      h3 {
        color: white;
        padding: 15px 0px;
      }
      input {
        padding: 15px;
        background-color: #6cd3d9;
        border: 2px solid white;
        color: white;
        margin: 10px 0px;
        border-radius: 5px;
      }
      button {
        padding: 13px 16px;
        background-color: #35b7be;
        color: white;
        border: 1px solid white;
        cursor: pointer;
        font-size: 17px;
        border-radius: 8px;
      }
    }
  }
}
