.main{
    display: flex;
    justify-content: space-around;
    padding: 90px 0px;
}
.banner-image{
    .image{
        img{
            height: 700px;
        }
    }
}
.content-home{
    .trekerImage{
        img{
            width: 550px;
        }
    }
   
}
.innerText{
    position: relative;
    padding: 0px 30px;
    top: -130px;
    .top{
        font-size: 38px;
        

    }
    .margin{
        font-size: 70px;
    }
}
.image{
    position: relative;
    animation: moveUpDown 4s infinite;
   
}
.trekerNews_bg{
  background-image: url(../../assets/images/image-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trekerNews{
  
  .trekerNews_text{
    text-align: center;

    h1{
      font-size: 30px;
      font-family:Dancing script;
      color: #1dc5ce;
    }
    h2{
      font-size: 45px;
      margin-top: 20px;
    }
  }
  .trekerNews_box{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
    gap: 30px;
    .trekerNews_boxes{
      background-color: white;
      h3{
        padding: 15px 0px;
      }
      
      border: 1px solid #1dc5ce;
      max-width: 400px;
      padding: 40px 20px;
      border-radius: 15px;
     
    
    }
  }
}
.trekerNews_boxes h3:hover{
  color: #1dc5ce;
  transition: 0.3s;
  cursor: pointer;
}
@keyframes moveUpDown {
    0% {
        top: -90px;
    }
    50% {
        top: -50px;
    }
    100% {
        top: -90px;

        
    }
}
.btn{
    margin-top: 40px;
    button{
       padding: 13px 30px;
        font-size: 20px;
        border: 2px solid #1dc5ce;
        color: #1dc5ce;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        
    }
}
.btn button:hover{
    background-color: #1dc5ce;
    color: white;
    transition: 0.6s;
    
    
}
@media only screen and (max-width: 1300px){
    .main{
        display: flex;
        gap: 5px;
       
        .image{
            img{
                width: 500px;
                height: 600px;
            }
        }
    }
    .content-home{
        .trekerImage{
            img{
                width: 450px;
            }
        }
       
    }
    .innerText{
        position: relative;
        padding: 0px 30px;
        top: -130px;
        .top{
            font-size: 30px;
            
    
        }
        .margin{
            font-size: 50px;
        }
    }
   
    .container{
        max-width: 1300px;
        margin: 0 auto;
      }
      .btn{
        margin-top: 30px;
        button{
           padding: 10px 25px;
            font-size: 16px;
            border: 2px solid #1dc5ce;
            color: #1dc5ce;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 500;
            
        }
    }
}
@media only screen and (max-width: 950px){
    .main{
        display: flex;
        gap: 5px;
       
        .image{
            img{
                width: 350px;
                height: 450px;
            }
        }
    }
    .container{
        max-width: 950px;
        margin: 0 auto;
    }
    .content-home{
        .trekerImage{
            img{
                width: 400px;
            }
        }
       
    }
    .innerText{
        position: relative;
        padding: 0px 30px;
        top: -130px;
        .top{
            font-size: 25px;
            
    
        }
        .margin{
            font-size: 40px;
        }
    }
    .btn{
        margin-top: 27px;
        button{
           padding: 6px 19px;
            font-size: 16px;
            border: 2px solid #1dc5ce;
            color: #1dc5ce;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 500;
            
        }
    }
}
@media only screen and (max-width: 768px){
    .main{
        display: flex;
        gap: 5px;
        text-align: center;
       
        .image{
           display: none;
        }
    }
    .container{
        max-width: 750px;
        margin: 0 auto;
    }
    .content-home{
        .trekerImage{
            img{
                max-width: 350px;
            }
        }
       
    }
    .innerText{
        position: relative;
        padding: 0px 30px;
        top: -130px;
        .top{
            font-size: 25px;
            
    
        }
        .margin{
            font-size: 30px;
        }
    }
    .btn{
        margin-top: 27px;
        button{
           padding: 6px 19px;
            font-size: 16px;
            border: 2px solid #1dc5ce;
            color: #1dc5ce;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 500;
            
        }
    }
}
@media only screen and (max-width: 598px){
    .main{
        display: flex;
        gap: 5px;
        text-align: center;
       
        .image{
           display: none;
        }
    }
   
    .content-home{
        .trekerImage{
            img{
                max-width: 250px;
            }
        }
       
    }
    .innerText{
        position: relative;
        padding: 0px 30px;
        top: -130px;
        .top{
            font-size: 20px;
            
    
        }
        .margin{
            font-size: 25px;
        }
    }
    .btn{
        margin-top: 27px;
        button{
           padding: 6px 10px;
            font-size: 16px;
            border: 2px solid #1dc5ce;
            color: #1dc5ce;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 500;
            
        }
    }

}
.secondBox {
    display: flex;
    justify-content: space-between;
    height: 600px;
  }
  .backImg {
    position: relative;
    right: 50px;
  }
  .frontImg {
    position: relative;
    animation: movUpDown 4s infinite;
    top: -700px;
    left: 270px;
  }
  
  @keyframes movUpDown {
    0% {
      top: -700px;
    }
    50% {
      top: -670px;
    }
    100% {
      top: -700px;
    }
  }
  .rightBox {
    max-width: 590px;
  
    h1 {
      font-size: 34px;
      color: #1dc5ce;
      font-family: "dancing script";
      padding: 20px 0px;
    }
    h2 {
      font-size: 60px;
    }
    p {
      padding: 40px 0px;
    }
  }
  @media only screen and (max-width: 1300px) {
    .container {
      max-width: 1300px;
      margin: 0 auto;
    }
    .backImg {
      position: relative;
      right: 40px;
      img {
        width: 500px;
      }
    }
    .frontImg {
      img {
        width: 350px;
      }
  
      position: relative;
      animation: movUpDown 4s infinite;
      top: -700px;
      left: 240px;
    }
  
    @keyframes movUpDown {
      0% {
        top: -400px;
      }
      50% {
        top: -370px;
      }
      100% {
        top: -400px;
      }
    }
    .rightBox {
      max-width: 330px;
    
      h1 {
        font-size: 24px;
        color: #1dc5ce;
        font-family: "dancing script";
        padding: 15px 0px;
      }
      h2 {
        font-size: 45px;
      }
      p {
        padding: 30px 0px;
      }
    }
  }
  @media only screen and (max-width: 950px){
    .secondBox {
      display: flex;
      justify-content: space-around;
    }
  
      .container {
          max-width:950px;
          margin: 0 auto;
        }
        .backImg {
          position: relative;
          right: 30px;
          img {
            width: 400px;
          }
        }
        .frontImg {
          img {
            width: 250px;
          }
      
          position: relative;
          animation: movUpDown 4s infinite;
          top: -700px;
          left: 150px;
        }
      
        @keyframes movUpDown {
          0% {
            top: -300px;
          }
          50% {
            top: -270px;
          }
          100% {
            top: -300px;
          }
        }
        .rightBox {
          max-width: 250px;
        
          h1 {
            font-size: 17px;
            color: #1dc5ce;
            font-family: "dancing script";
            padding: 12px 0px;
          }
          h2 {
            font-size: 25px;
          }
          p {
            font-size: 14px;
            padding: 25px 0px;
          }
        }
      }
  
      @media only screen and (max-width: 768px){
          .container {
              max-width:750px;
              margin: 0 auto;
            }
            .backImg {
              position: relative;
              right: 20px;
              img {
                width: 100%;
              }
            }
            .frontImg {
              
              img {
                width: 500px;
              }
          
          
              position: relative;
              animation: movUpDown 4s infinite;
              top: -700px;
              left: 0px;
            }
          
            @keyframes movUpDown {
              0% {
                top: -350px;
              }
              50% {
                top: -300px;
              }
              100% {
                top: -350px;
              }
            }
            .rightBox {
              position: relative;
              max-width: 100%;
              text-align: center;
            
              h1 {
                font-size: 25px;
                color: #1dc5ce;
                font-family: "dancing script";
                padding: 12px 0px;
              }
              h2 {
                font-size: 25px;
              }
              p {
                padding: 25px 0px;
                font-size: 17px;
  
              }
            }
            .secondBox {
              display: flex;
              flex-direction: column;
              
              height: 100%;
            }
      }
      @media only screen and (max-width: 598px){
        .frontImg {
          
          margin: auto;
          img {
          width: 300px;
          }
      
      
          position: relative;
          animation: movUpDown 4s infinite;
          top: -700px;
          left: 0px;
        }
      
        @keyframes movUpDown {
          0% {
            top: -350px;
          }
          50% {
            top: -300px;
          }
          100% {
            top: -350px;
          }
        }
      }
      .trekking {
        background-image: url("https://themeim.com/demo/treker/images/background/image-1.jpg");
        height: 1200px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
      }
      .text {
        text-align: center;
        padding: 60px 0px;
        h1 {
          color: #1dc5ce;
          font-family: "dancing script";
          font-size: 30px;
        }
        h2 {
          font-size: 60px;
          max-width: 600px;
          margin: 0 auto;
          padding: 20px 0px;
          font-weight: 800;
        }
      }
      .trekkings {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .trekkingsCart {
        background-color: white;
        padding: 0px 27px 0px 27px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
      
        height: 650px;
      
        img {
          // width: 250px;
          height: 280px;
          border-radius: 10px;
        }
        .title {
          font-size: 25px;
          max-width: 300px;
          font-weight: 600;
          height: 70px;
        }
        .starts {
          font-size: 23px;
          padding: 15px 0px;
          color: rgb(229, 179, 27);
          height: 50px;
        }
        .desc {
          font-size: 14px;
          height: 100px;
        }
        .hr {
          border: 1px dashed rgb(179, 175, 175);
          margin-top: 30px;
          
        }
      }
      .details {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 5px;
        margin-top: 20px;
        width: fit-content;
        font-size: 14px;
        
      }
      .details:hover {
        color: #1dc5ce;
        transition: 0.2s;
      }
      .price {
        position: relative;
        background-color: #1dc5ce;
        max-width: 80px;
        position: relative;
        top: 50px;
        color: white;
        text-align: center;
        left: 17px;
        font-weight: 700;
        border-radius: 5px;
        font-size: 25px;
      }
      
      
      
      @media only screen and (max-width: 1300px) {
        .trekkings {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
        .container {
          max-width: 1300px;
          margin: 0 auto;
        }
      
      }
      @media only screen and (max-width: 950px){
        .container {
          max-width: 950px;
          margin: 0 auto;
        }
        .trekkings {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          
        }
        .text {
          text-align: center;
          padding: 60px 0px;
          h1 {
            color: #1dc5ce;
            font-family: "dancing script";
            font-size: 30px;
          }
          h2 {
            font-size: 50px;
            max-width: 500px;
            margin: 0 auto;
            padding: 15px 0px;
            font-weight: 800;
          }
        }
      
      }
      @media only screen and (max-width: 598px){
        .text {
          text-align: center;
          padding: 50px 0px;
          h1 {
            color: #1dc5ce;
            font-family: "dancing script";
            font-size: 25px;
          }
          h2 {
            font-size: 40px;
            max-width: 100%;
            margin: 0 auto;
            padding: 15px 0px;
            font-weight: 800;
          }
        }
        .trekkingsCart {
          background-color: white;
          padding: 0px 30px 0px 30px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
        
          height: 650px;
        
          img {
            width: 230px;
            height: 280px;
            border-radius: 10px;
          }
        }
      }
      .thirdBox{
        padding: 150px 0px;
        .top{
            text-align: center;
            h1{
                font-size: 30px;
                font-family: 'dancing script';
                color: #1dc5ce;
            }
            h2{
                font-size: 60px;
            }
            
        }
        .total{
            display: flex;
            justify-content: space-around;
            padding: 70px 0px;
            .about{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .box{
                    max-width:300px;
                    h3{
                        font-size: 24px;
                    }
                }
               
            }
    
        }
        
    }
    .img{
        position: relative;
        animation: moveUpDown 4s infinite;
       
    }
    @keyframes moveUpDown {
        0% {
            top: 0px;
        }
        50% {
            top: 70px;
        }
        100% {
            top: 0px;
    
            
        }
    }
    @media only screen and (max-width: 950px){
        .thirdBox{
           
            .total{
                display: flex;
                text-align: center;
                .about{
                    .box{
                        padding: 20px 0px;
                    }
                }
                
                .img{
                    display: none;
                }
            }
        }
    }
    .productsBox{
      padding: 100px 0px;
      .top{
          text-align: center;
          h1{
              font-size: 30px;
              font-family: 'dancing script';
              color: #1dc5ce;
          }
          h2{
              font-size: 45px;
              padding: 30px 0px;
          }
      }
  }
  .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 35px;
  }
  .product{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      text-align: start;
      padding: 20px;
      img{
          height: 230px;
      }
      .title{
          font-size: 20px;
      }
      .productPrice{
          font-size: 19px;
          color: #1dc5ce ;
          font-weight: 700;
          
      }
  
  }
  .icon{
      display: flex;
      font-size: 24px;
      justify-content: space-between;
      padding: 40px 0px ;
  }
  .product:hover{
      background-color: #e0fefe;
      cursor: pointer;
      transition: 0.2s;
  
  }
  .detail{
      padding: 7px;
      width: 100%;
      cursor: pointer;
      border: none;
      font-size: 17px;
      font-family: cursive;
      border-radius: 5px;
     
  
      
  }
  .detail:hover{
      background-color: #1dc5ce;
      transition: 0.3s;
      color: white;
    
  }
  