.header{
    background-color: #1dc5ce;
    
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
}
.menu{
    font-size: 30px;
}
.creater{
    text-decoration: none;
    color: white;
}
.creater:hover{
    color: rgb(235, 237, 239);
}
.userPanel{
    display: flex;
    align-items: center;
    gap: 5px;

}
.left-side{
    display: flex;
    align-items: center;

    gap: 20px;
    a{
        text-decoration: none;
    color: white;

    }
}
.dropdownMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42px;
    right: 10px;
    z-index: 1765876978087675754;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    a{
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        color: #024548;
        font-weight: 500;


        
    }
    
}
.dropdownMenu a:hover{
    color: rgb(199, 50, 4);
    background-color: rgb(235, 237, 239);
}
.menuIcon:hover{
color: rgb(235, 237, 239);
}
.right-side{
    display: flex;
    align-items: center;

    gap: 40px;
    .language{
        display: flex;
    align-items: center;

        gap: 10px;
    }
    .signIn{
        display: flex;
        gap: 10px;
    align-items: center;
    

    }
}
@media only screen and (max-width: 598px){
    .left-side{
        display: none;
    }
    .right-side{
        display: flex;
        
        align-items: center;
    }
}