
.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: -2px;
    z-index: 2974849;
    background-color: white;
}

.nav{
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        gap: 50px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
                font-size: 17px;
                font-weight: 500;

            }
        }
    }
}
.icons{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 15px;
   
    .count{
        background-color: #1dc5ce;
        font-size: 14px;
        padding: 2px 8px;
        border-radius: 50%;
        color: white;
        font-weight: 700;
        position: relative;
        right: 20px;
        top: -13px;
    }

}

@media only screen and (max-width: 1300px){
   
    .nav ul{
        display: none;
    }
  
    .container{
        max-width: 1300px;
        margin: 0 auto;
      }

}
@media only screen and (max-width: 598px){
   
    .nav ul{
        display: none;
    }
 
    .search{
        display: none;
    }
    .wish{
        display: none;
    }

}